body {
    font-family: 'Oswald', sans-serif;
    background-color:#e5dec2;
    height: auto;
}

div{
    display: block;
}

li{
    list-style: none;
}

ul{
    padding: 0;
    margin: 0;
}

a{
    color: darkgreen;
}

#header{
	height: 50px;
	width: 100%;
}

#header-wrapper {
   	padding: 0 80px;
   	background: #3b3b3b;
	border-bottom:2px solid #a09b87;
	position:relative;
}

#header-wrapper img {
    position:absolute;
}

#header-container-inner{
    float: right;
    padding: 11px 0;  
}

.circleSymbol
{
	width: 10px;
    height: 10px;
    radius: 10px;
    shadow: 2;
    shadow-color: #404040;
    margin-right: 10px;
    margin-top:9px;
    background-color: #888888;
    border-radius: 50px;
    float:left;
}
.circleSymbol.active{	
	 background-color: #b33d21;
}

/* "RECORD PROXY" */
#top-right-text {   
    font-size: 18px;
    color: #efecdb;
    float:left;
    margin-right:15px;
}

/* button */
#button-container{
    float: left;
}

.proxyButton{	
	width: 50px;
	background-color: #888888;
	font-size: 18px;
	text-align: center;
	color:#3c3c3c;
	float:left;		
	box-shadow:0px 0 5px #202020;
}

#off.proxyButton.active{
	background-color: #b13b21;
	color:#efecdb;
}

#on.proxyButton.active{
	background-color: #5eb8ae;
	color:#efecdb;
}

#content{
    width: 100%;    
    background: #e5dec2;
}

#content-container{
	margin:0 80px;
}

/* "USED SIZE:90000 KB" */
#content-top {   
  	padding:15px 0;
    width: 100%;  
    color:#76442b;
    font-size: 16px;
    text-align: right;
}

/*List*/
#content-bottom {
    height: 640px;   
    position: relative;
    background: #efecdb;
    font-family: monaco;
    font-size:14px;
    font-color: #2d5f54;
    overflow:scroll;    
    padding: 20px;
    margin: 0 auto;
}

#content-bottom ul{
	width:5000px
}

/* "MODIFIED BY AMEDIA" */
#footer {
    width: 100%;   
    font-size: 12px;
    font-color: #3a3a3a;
    text-align:center;
    padding: 15px 0;
}

/*clearfix*/
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; zoom: 1; }
*:first-child+html .clearfix { zoom: 1; } 
.clearfix { display: block; }
