body {
    font-family:'Oswald stencil';
    background-color:#e5dec2;
    height: auto;
}

div{
    display: block;
}

li{
    list-style: none;
}

ul{
    padding: 0;
    margin: 0;
}

a{
    color: darkgreen;
}

.header-container {
    height: 50px;
    width: 100%;
    position: relative;
    background: #3b3b3b;
    border: 2px;
    border-bottom:thick solid #a09b87;
    text-align: right;
}

.header-container-inner{
    text-align: right;
    padding: 15px 0;
    width: 95%;
}

.header-wrapper {
    min-height: 82px;
}

.header-wrapper img {
    display: block;
    float: left;
    position: relative;
    z-index: 5;
}

.content-container {
    width: 100%;
    position: absolute;
    background: #e5dec2;
}

.content-container-inner {
    width: 95%;
    position: relative;
    margin: auto;
    border: 2px;
}

/* "USED SIZE:90000 KB" */
.content-top {
    height: 50px;
    top: 15px;
    bottom: 15px;
    width: 100%;
    position: relative;
    right: 0;
    font-size: 14px;
    text-align: right;
}

/*List*/
.content-bottom {
    height: 700px;
    width: 95%;
    position: relative;
    background: #efecdb;
    font-family: monaco;
    font-size:12px;
    font-color: #2d5f54;
    overflow:scroll;
    padding: 20px;
    margin: 0 auto;
}

#circle-red-symbol {
    width: 10px;
    height: 10px;
    radius: 10px;
    shadow: 2;
    shadow-color: #404040;
    right: 10px;
    background-color: #b33d21;
    border-radius: 50px;
    display: inline-block;
}

#circle-gray-symbol {
    width: 10px;
    height: 10px;
    radius: 10px;
    right: 10px;
    background-color: #888888;
    border-radius: 50px;
    display: inline-block;
}

/* "RECORD PROXY" */
.top-right-text {
    font-family:'Oswald stencil';
    font-size: 18px;
    color: #efecdb;
    top: 15px;
    bottom: 15px;
    right: 10px;
    display: inline-block;
}

/* button */
#button-container{
    float: left;
}

#green-button {
    width: 50px;
    background-color: #5eb8ae;
    shadow: 5;
    shadow-color: #404040;
    font-family:'Oswald stencil';
    font-size: 14px;
    display: inline-block;
    text-align: center;
    color: #efecdb;
}

#red-button {
    width: 50px;
    background-color: #b13a22;
    shadow: 5;
    shadow-color: #404040;
    font-family:'Oswald stencil';
    font-size: 14px;
    display: inline-block;
    text-align: center;
    color: #efecdb;
}

#gray-button {
    width: 50px;
    background-color: #888888;
    font-family:'Oswald stencil';
    font-size: 14px;
    font-size: 14px;
    display: inline-block;
    text-align: center;
    color: #efecdb;

}

/* "MODIFIED BY AMEDIA" */
.footer {
    width: 100%;
    font-family:'Oswald stencil';
    font-size: 12px;
    font-color: #3a3a3a;
    text-align:center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 15px;
}